.layout {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
    }
  
  .header { grid-area: header; }
  .main { grid-area: main;}
  .slogan{grid-area: slogan;}
  .Cursos{grid-area: Cursos;}
  .Formulario { grid-area: Formulario; }
  .footer { grid-area: footer; }

  img{ 
    max-width: 100%;
    height: auto;
  }
   
  nav{
    padding-left: 200px;
  }

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #eeafaf ;
    transition: color 0.3s; /* Transición para cambiar el color al pasar el cursor */
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color:#9fdede; /* Cambia el color al pasar el cursor */
}

body {
    margin: 2px; /* Elimina los márgenes predeterminados del body */
    padding: 2px; /* Elimina el espacio de relleno predeterminado del body */
}

.main {
    grid-area: main;
}

.slogan{
    grid-area: slogan;
    background-color:#9fdede ;
    text-align: center;
    width: 100%;

}

.boton-info {
  border-radius: 15px; /* Ajusta el valor según tus preferencias */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  font-size: 16px; /* Ajusta el tamaño del texto según tus preferencias */
  background-color: #eeafaf; /* Ajusta el color de fondo según tus preferencias */
  color: #ffffff; /* Ajusta el color del texto según tus preferencias */
  border: none; /* Elimina el borde del botón */
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  
}

.enlace-boton{
  text-decoration: none;
  color: #fff;

}



#Cursos{
    font-size: 2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font: bolder;
    text-decoration: underline;


}

.footer {
    grid-area: footer;
}

.fa-shopping-bag{
    color:#eeafaf;
    margin-top: 20px;
}
.circle-icon {
    display: inline-block;
    width: 35px; /* Tamaño del círculo */
    height: 35px;
    background-color: #9fdede; /* Color del círculo */
    border-radius: 50%; /* Hace que el elemento sea circular */
    text-align: center;
    line-height: 32px; /* Centra verticalmente el ícono */
    margin-left: 5px; /* Espacio entre el ícono y el texto "Inicio de Sesión" */
    margin-top: 13px;
}

.circle-icon i {
    color: #fff; /* Color del ícono de usuario dentro del círculo */
    font-size: 15px; /* Tamaño del ícono de usuario */
}

#titulo{
    text-align: center;
    color: black;
    font-size: 3em;
    font-family:'Poppins', sans-serif;
}

.slogan p{
    text-align:justify ;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -30px;
}

#slogan_frase{
  color: #eeafaf;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.imgIndex {
  display: block;
  margin: 0 auto; /* Centra horizontalmente la imagen */
  max-width: 80%; /* Ajusta el tamaño máximo al ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  border-radius: 10px;
}


#slogan{
    font-family: 'Poppins', sans-serif;
    font: bold;
    text-align: center;
}

#imgCurso{
    height: 35%;
    width: 25%; /* Usamos 'auto' para mantener la proporción de la imagen */
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Puedes ajustar el valor según tu preferencia */
  transition: height 0.3s, filter 0.3s; /* Transiciones suaves para altura y filtro */
}

#imgCurso:hover {
    height: 40%; /* Cambia la altura al 60% al pasar el cursor */
    z-index: 1; /* Asegura que la imagen se muestre sobre otros elementos */
}

.button_slide {
    color:#eeafaf;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #9fdede;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    
  }
  
  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #9fdede;
    color:whitesmoke;  
  }

  .registrate{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;    

  }
  
  .registrar{
    top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color:  #eeafaf;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid  #eeafaf;
    border-radius:50px;
    position:relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    display:inline-block; /* Hace que el botón sea en línea */
    padding: 1rem 20rem; /* Ajusta el espaciado del botón según tus necesidades */
    margin: 0 0 0 350px; /* Centra horizontalmente el botón */
    line-height: 1; /* Alinea verticalmente el contenido */

    
}


.registrar:hover{
    border: 1px solid #9fdede;
    color: whitesmoke!important;
}
.registrar:hover a {
  color: whitesmoke !important;
}

.registrar::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #9fdede;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.registrar::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #eeafaf;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.registrar:hover::before, .registrar:hover::before{
  opacity:1;
  width: 116%;
}
.registrar:hover::after, .registrar:hover::after{
  opacity:1;
  width: 120%;
}

.registrar a {
  text-decoration: none;
  color: #eeafaf; 
  transition: color 0.3s ease-in-out; /* Añade una transición suave al cambio de color */
}


  
  
    
  


form {
  width: 510px; /* Ajustado: 340px * 1.5 */
  height: 660px; /* Ajustado: 440px * 1.5 */
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 330px) auto; /* Ajustado: 220px * 1.5 */
  padding: 30px 45px; /* Ajustado: 20px * 1.5, 30px * 1.5 */
  max-width: calc(100vw - 60px); /* Ajustado: 40px * 1.5 */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

form h2 {
  margin: 15px 0; /* Ajustado: 10px * 1.5 */
  padding-bottom: 15px; /* Ajustado: 10px * 1.5 */
  width: 270px; /* Ajustado: 180px * 1.5 */
  color: #78788c;
  border-bottom: 4.5px solid #78788c; /* Ajustado: 3px * 1.5 */
}

input {
  width: 100%;
  padding: 15px; /* Ajustado: 10px * 1.5 */
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s;
  border-bottom: 3px solid #bebed2; /* Ajustado: 2px * 1.5 */
}

input:focus {
  border-bottom: 3px solid #78788c; /* Ajustado: 2px * 1.5 */
}

p:before {
  content: attr(type);
  display: block;
  margin: 42px 0 0; /* Ajustado: 28px * 1.5 */
  font-size: 21px; /* Ajustado: 14px * 1.5 */
  color: #5a5a5a;
}

form button {
  float: right;
  padding: 12px 18px; /* Ajustado: 8px * 1.5, 12px * 1.5 */
  margin: 12px 0 0; /* Ajustado: 8px * 1.5 */
  font-family: 'Poppins', sans-serif;
  border: 3px solid #78788c; /* Ajustado: 2px * 1.5 */
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #78788c;
  color: #fff;
}

span {
  margin: 0 7.5px 0 22.5px; /* Ajustado: 0 5px 0 15px * 1.5 */
}

.footer  {
  font-family:'Poppins', sans-serif;
  color: #000;
  text-align: center;
}

.redes-sociales i {
  display: inline-block;
  margin-right: 40px; /* Espaciado entre iconos, ajusta según sea necesario */
  text-align: center;
}

.redes-sociales .fa-instagram {
  color: #e4405f; /* Color para Instagram */
  font-size: 2.2em; /* Tamaño para Instagram */
}

/*.redes-sociales .fa-youtube {
  color: #ff0000; /* Color para YouTube 
  font-size: 2.5em; /* Tamaño para YouTube 
}*/
.redes-sociales .fa-tiktok {
  color: #69c9d0; /* Color para TikTok */
  font-size: 2em; /* Tamaño para TikTok */ 
} 
.Copyright {
margin-top: auto;
font-size: 15px;
text-align: center;
font-family:'Poppins', sans-serif;
}



@media screen and (max-width: 767px) {
  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }
  

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }
    /* SOBRE MI*/

    .container {
      
    }

    .texto-sobreMi {
      padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
      font-size: 10px;
      margin: 0 auto;
    }
  
    .slideshow-container {
      margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
    }
  
    .mySlides img {
      border-radius: 0; /* Eliminar el radio de borde si es necesario */
    }
  
    /* Ajustar la animación para pantallas más pequeñas si es necesario */
    @keyframes fade {
      from { opacity: 0.2; }
      to { opacity: 1; }
    }

    /*EJERCICIO POSTPARTO*/

    .texto-postparto {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 10px;
      text-align: auto;
    }
    .texto-postparto p {
      margin-right: 350px;
    }
  }


@media screen and (max-width: 1280px) {

  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }
  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  /* SOBRE MI*/

  .texto-sobreMi {
    padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
  }

  .slideshow-container {
    margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
  }

  .mySlides img {
    border-radius: 0; /* Eliminar el radio de borde si es necesario */
  }

  /* Ajustar la animación para pantallas más pequeñas si es necesario */
  @keyframes fade {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }

  /*EJERCICIO POSTPARTO*/

  .texto-postparto {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media screen and (max-width: 1080px) {

  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  /* SOBRE MI*/

  .texto-sobreMi {
    padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
  }

  .slideshow-container {
    margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
  }

  .mySlides img {
    border-radius: 0; /* Eliminar el radio de borde si es necesario */
  }

  /* Ajustar la animación para pantallas más pequeñas si es necesario */
  @keyframes fade {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }

  /*EJERCIO POSTPARTO*/

  .texto-postparto {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media screen and (max-width: 820px) {

  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  /* SOBRE MI*/

  .texto-sobreMi {
    padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
  }

  .slideshow-container {
    margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
  }

  .mySlides img {
    border-radius: 0; /* Eliminar el radio de borde si es necesario */
  }

  /* Ajustar la animación para pantallas más pequeñas si es necesario */
  @keyframes fade {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }

  /*EJERCICIO POSTPARTO*/

  .texto-postparto {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media screen and (max-width: 736px) {

  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  /* SOBRE MI*/

  .texto-sobreMi {
    padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
    font-size: 8.3px;
  }

  .texto-sobreMi h3{
    margin-left: -500px;
  }

  .slideshow-container {
    margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
  }

  .mySlides img {
    border-radius: 0; /* Eliminar el radio de borde si es necesario */
  }

  /* Ajustar la animación para pantallas más pequeñas si es necesario */
  @keyframes fade {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }

  /*EJERCICIO POSTPARTO*/

  .texto-postparto {
    margin-left: 5px;
    margin-right: 5px;
  }

}

@media screen and (max-width: 480px) {

  .layout {
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
  }

  nav {
    padding-left: 20px; 
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-right: 20px; 
  }

  .slogan {
    padding: 20px; 
  }

  .imgIndex {
    max-width: 100%; 
  }

  #imgCurso {
    width: 50%; /
  }

  .button_slide {
    padding: 10px 20px; 
  }

  .registrar {
    padding: 1rem 2rem; 
    margin: 0 0 0 20px; 
  }

  form {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  form h2 {
    width: 100%; 
  }

  input,
  textarea {
    width: 100%; 
  }

  .form_contacto {
    width: 100%; 
    max-width: none; 
    margin: 20px auto; 
  }

  

  /* SOBRE MI*/

  .texto-sobreMi {
    padding: 10px; /* Ajustar el relleno para pantallas más pequeñas */
  }

  .slideshow-container {
    margin: 10px auto; /* Ajustar los márgenes para pantallas más pequeñas */
  }

  .mySlides img {
    border-radius: 0; /* Eliminar el radio de borde si es necesario */
  }

  /* Ajustar la animación para pantallas más pequeñas si es necesario */
  @keyframes fade {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }

  /* EJERCICIO POSTPARTO*/

  .texto-postparto {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    text-align: auto;
  }
  .texto-postparto p {
    margin-right: 350;
  }

  .accordion{
    margin-right: 350px;
  }

}


/* SECCION CONTACTO */

.Contacto{
  font-family:'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #eeafaf;
  margin-bottom: -150px;

}

.form_contacto {
  width: 1000px;
  height: 600px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  position: relative;
  margin-bottom: auto;

}
 .contacto h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family:'Poppins', sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.contacto button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family:'Poppins', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
span {
  margin: 0 5px 0 15px;
}

 /* SOBRE MI */
 
 
.texto-sobreMi{
  width: 878px;
  font-family:'Poppins', sans-serif;
  padding-top: 25px;
  margin-left: 20px;
  margin-top: -10px;

}
.texto-sobreMi h3{
  color: #eeafaf;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  border-radius: 10px;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*BARRA MOVILES*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: left;    
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #eeafaf;
  font-family: 'Poppins', sans-serif;
}

/*Responsibe movile*/

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        margin-right: auto;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: auto;
        width: 100%;
        background-color: grey;
        padding-left: 0;
    }

    .nav-list.show {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .nav-list li {
        margin: 0;
        border: none;
    }

    .nav-list a {
        text-decoration: none;
        color: #eeafaf;
        font-family: 'Poppins', sans-serif;
        padding: 10px 0;
        display: block;
        transition: background-color 0.3s;
        border: none;
    }

    .Formulario{
      margin-top: 50px;
    }

}

/*EJERCICIO POSTPARTO*/

.texto-postparto{

  text-align: justify;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;

}
.texto-postparto h1 {

  text-align: auto ;
  font-family: 'Poppins', sans-serif;

}

/* Acordeon */

@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

:root {
  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #9fdede;
}

* {
  box-sizing: border-box;
}



.container-acordeon {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.accordion button[aria-expanded='true'] {
  border-bottom: 1px solid var(--blue);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--blue);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--blue);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
  font-family: 'Poppins', sans-serif;

}
@media (max-width: 768px) {
  .accordion-title{
    font-size: 15px;
  }

  .accordion .accordion-content p {
    font-size: 10px;
    font-weight: 300;
    margin: 2em 0;
    font-family: 'Poppins', sans-serif;
  
}
}


/* REGISTRARSE*/

.pg_Registro{
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.register-form {
  max-width: 500px;
  margin: auto;
  background-color: #ffffff;
}




.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 20px;
}

.icon {
  padding: 10px;
  background:  #eeafaf;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #9fdede ;
}

.btn {
  background-color: #9fdede;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/*CURSO*/

.texto-curso{

  text-align: justify;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;

}
.texto-curso h1 {

  text-align: auto ;
  font-family: 'Poppins', sans-serif;
  

}

/*Imagenes Curso*/

 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column-imgcurso {
  float: left;
  width: 33.33%;
  padding: 30px;
}

.imgcurso{
  border-radius: 10px;
}

/* Clear floats after image containers */
.row-curso::after {
  content: "";
  clear: both;
  display: table;
} 

.vinieta{
  list-style: disc; 
}

.buttonCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0; /* Ajusta el relleno según sea necesario */
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #eeafaf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.buttonCompra:hover {
  background-color: #afc4ee;
}

.buttonCompra:active {
  background-color: #afc4ee;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Elimina el estilo específico para el enlace dentro del botón */
.buttonCompra a {
  text-decoration: none;
  color: inherit; /* Hereda el color del texto del botón */
}

