.layout {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "slogan" auto
      "Cursos" auto
      "Formulario" auto
      "footer" auto
      / 1fr;
    }
  
  .header { grid-area: header; }
  .main { grid-area: main;}
  .slogan{grid-area: slogan;}
  .Cursos{grid-area: Cursos;}
  .Formulario { grid-area: Formulario; }
  .footer { grid-area: footer; }

  img{ 
    max-width: 100%;
    height: auto;
  }

  nav{
    padding-left: 200px;
  }

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #eeafaf ;
    transition: color 0.3s; /* Transición para cambiar el color al pasar el cursor */
}

nav a:hover {
    color:#9fdede; /* Cambia el color al pasar el cursor */
}

body {
    margin: 2px; /* Elimina los márgenes predeterminados del body */
    padding: 2px; /* Elimina el espacio de relleno predeterminado del body */
}

.main {
    grid-area: main;
}

.slogan{
    grid-area: slogan;
    background-color:#9fdede ;
    text-align: center;
    width: 100%;

}

.boton-info {
  border-radius: 15px; /* Ajusta el valor según tus preferencias */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  font-size: 16px; /* Ajusta el tamaño del texto según tus preferencias */
  background-color: #eeafaf; /* Ajusta el color de fondo según tus preferencias */
  color: #ffffff; /* Ajusta el color del texto según tus preferencias */
  border: none; /* Elimina el borde del botón */
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  
}

.enlace-boton{
  text-decoration: none;
  color: #fff;

}



#Cursos{
    font-size: 2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font: bolder;
    text-decoration: underline;


}

.footer {
    grid-area: footer;
}

.fa-shopping-bag{
    color:#eeafaf;
}
.circle-icon {
    display: inline-block;
    width: 35px; /* Tamaño del círculo */
    height: 35px;
    background-color: #9fdede; /* Color del círculo */
    border-radius: 50%; /* Hace que el elemento sea circular */
    text-align: center;
    line-height: 32px; /* Centra verticalmente el ícono */
    margin-left: 5px; /* Espacio entre el ícono y el texto "Inicio de Sesión" */
}

.circle-icon i {
    color: #fff; /* Color del ícono de usuario dentro del círculo */
    font-size: 15px; /* Tamaño del ícono de usuario */
}

#titulo{
    text-align: center;
    color: black;
    font-size: 3em;
    font-family:'Poppins', sans-serif;
}

.slogan p{
    text-align:justify ;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -30px;
}

#slogan_frase{
  color: #eeafaf;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.imgIndex {
  display: block;
  margin: 0 auto; /* Centra horizontalmente la imagen */
  max-width: 80%; /* Ajusta el tamaño máximo al ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  border-radius: 10px;
}


#slogan{
    font-family: 'Poppins', sans-serif;
    font: bold;
    text-align: center;
}

#imgCurso{
    height: 35%;
    width: 25%; /* Usamos 'auto' para mantener la proporción de la imagen */
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Puedes ajustar el valor según tu preferencia */
  transition: height 0.3s, filter 0.3s; /* Transiciones suaves para altura y filtro */
}

#imgCurso:hover {
    height: 40%; /* Cambia la altura al 60% al pasar el cursor */
    z-index: 1; /* Asegura que la imagen se muestre sobre otros elementos */
}

.button_slide {
    color:#eeafaf;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #9fdede;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    
  }
  
  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #9fdede;
    color:whitesmoke;  
  }

  .registrate{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;    

  }
  
  .registrar{
    top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color:  #eeafaf;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid  #eeafaf;
    border-radius:50px;
    position:relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    display:inline-block; /* Hace que el botón sea en línea */
    padding: 1rem 20rem; /* Ajusta el espaciado del botón según tus necesidades */
    margin: 0 0 0 350px; /* Centra horizontalmente el botón */
    line-height: 1; /* Alinea verticalmente el contenido */

    
}


.registrar:hover{
    border: 1px solid #9fdede;
    color: whitesmoke!important;
}
.registrar::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #9fdede;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.registrar::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #eeafaf;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.registrar:hover::before, .registrar:hover::before{
  opacity:1;
  width: 116%;
}
.registrar:hover::after, .registrar:hover::after{
  opacity:1;
  width: 120%;
}
  
  
    
  


form {
  width: 510px; /* Ajustado: 340px * 1.5 */
  height: 660px; /* Ajustado: 440px * 1.5 */
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 330px) auto; /* Ajustado: 220px * 1.5 */
  padding: 30px 45px; /* Ajustado: 20px * 1.5, 30px * 1.5 */
  max-width: calc(100vw - 60px); /* Ajustado: 40px * 1.5 */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

form h2 {
  margin: 15px 0; /* Ajustado: 10px * 1.5 */
  padding-bottom: 15px; /* Ajustado: 10px * 1.5 */
  width: 270px; /* Ajustado: 180px * 1.5 */
  color: #78788c;
  border-bottom: 4.5px solid #78788c; /* Ajustado: 3px * 1.5 */
}

input {
  width: 100%;
  padding: 15px; /* Ajustado: 10px * 1.5 */
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s;
  border-bottom: 3px solid #bebed2; /* Ajustado: 2px * 1.5 */
}

input:focus {
  border-bottom: 3px solid #78788c; /* Ajustado: 2px * 1.5 */
}

p:before {
  content: attr(type);
  display: block;
  margin: 42px 0 0; /* Ajustado: 28px * 1.5 */
  font-size: 21px; /* Ajustado: 14px * 1.5 */
  color: #5a5a5a;
}

form button {
  float: right;
  padding: 12px 18px; /* Ajustado: 8px * 1.5, 12px * 1.5 */
  margin: 12px 0 0; /* Ajustado: 8px * 1.5 */
  font-family: 'Poppins', sans-serif;
  border: 3px solid #78788c; /* Ajustado: 2px * 1.5 */
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #78788c;
  color: #fff;
}

span {
  margin: 0 7.5px 0 22.5px; /* Ajustado: 0 5px 0 15px * 1.5 */
}

.footer  {
  font-family:'Poppins', sans-serif;
  color: #000;
  text-align: center;
}

.redes-sociales i {
  display: inline-block;
  margin-right: 40px; /* Espaciado entre iconos, ajusta según sea necesario */
  text-align: center;
}

.redes-sociales .fa-instagram {
  color: #e4405f; /* Color para Instagram */
  font-size: 2.2em; /* Tamaño para Instagram */
}

/*.redes-sociales .fa-youtube {
  color: #ff0000; /* Color para YouTube 
  font-size: 2.5em; /* Tamaño para YouTube 
}*/
.redes-sociales .fa-tiktok {
  color: #69c9d0; /* Color para TikTok */
  font-size: 2em; /* Tamaño para TikTok */ 
} 
.Copyright {
margin-top: auto;
font-size: 15px;
text-align: center;
font-family:'Poppins', sans-serif;
}

/* SECCION CONTACTO */

.Contacto{
  font-family:'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #eeafaf;
  margin-bottom: -150px;

}

.form_contacto {
  width: 1000px;
  height: 600px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  position: relative;
  margin-bottom: auto;

}
 .contacto h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family:'Poppins', sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.contacto button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family:'Poppins', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
span {
  margin: 0 5px 0 15px;
}

 /* SOBRE MI */
 
 
.texto-sobreMi{
  width: 878px;
  font-family:'Poppins', sans-serif;
  padding-top: 25px;
  margin-left: 20px;
  margin-top: -10px;

}
.texto-sobreMi h3{
  color: #eeafaf;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  border-radius: 10px;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}